<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CalendarApp</title>
    <link rel="stylesheet" type="text/css" href="/styles/calendar.css">
    <link rel="stylesheet" type="text/css" href="/fontello/css/fontello.css">
</head>
<body>

    <div class="header">
        <h1>CalendarApp</h1>
    </div>

    <div class="calendarHeader">

        <p class="year" th:text="${calendar.year}"></p>
        <p class="month" th:text="${calendar.monthName}"></p>

    </div>

    <div class="container">
        <div class="calendar">
            <div class="dayName">Poniedziałek</div>
            <div class="dayName">Wtorek</div>
            <div class="dayName">Środa</div>
            <div class="dayName">Czwartek</div>
            <div class="dayName">Piątek</div>
            <div class="dayName">Sobota</div>
            <div class="dayName">Niedziela</div>
            <div style="clear: both;"></div>
        </div>
        <div class="calendar">
            <div class="blankDay" th:if="${calendar.dayOfWeek>1}" th:each="i : ${#numbers.sequence(1,(calendar.dayOfWeek)-1)}"></div>
            <div class="day" th:each="i : ${#numbers.sequence(1,calendar.daysInMonth)}" th:inline="text">
                [[${i}]]
                <div th:each="note : ${calendar.notes}"
                     th:if="${note.date.isEqual(#temporals.create(calendar.year,calendar.month,i))}" th:text="${note.title}"></div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <a class="next" href="/calendar/next"><i class="icon-right-open"></i></a>
        <a class="previous" href="/calendar/previous"><i class="icon-left-open"></i></a>
        <form method="POST" th:action="@{/logout}">
            <input type="submit" value="Wyloguj">
        </form>
    </div>

</body>
</html>
