<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CalendarApp</title>
    <link rel="stylesheet" type="text/css" href="/styles/home.css">
</head>
<body>

<div class="header">
    <h1>CalendarApp</h1>
</div>

<div class="navBar">
    <a th:href="@{/}">Strona główna</a>
    <a th:href="@{/calendar}">Kalendarz</a>
</div>

<div class="homeHeader">

    <p class="title">Strona główna</p>

</div>

<div class="container">

    <p class="hello">Witaj na stronie głównej.</p>

</div>

</body>
</html>