<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>CalendarApp</title>
    <link rel="stylesheet" type="text/css" href="/styles/register.css">
</head>
<body>

<!--Wylogowywanie-->
<div class="userBar" sec:authorize="isAuthenticated()">
    <div class="bar">
        <span>Użytkownik:</span>
        <p sec:authentication="name"></p>
        <form method="POST" th:action="@{/logout}">
            <input class="reset" type="submit" value="Wyloguj">
        </form>
        <div style="clear: both;"></div>
    </div>
</div>

<div class="header">
    <h1>CalendarApp</h1>
</div>

<div class="navBar">
    <div class="nav">
        <a th:href="@{/}">Strona główna</a>
        <a th:href="@{/calendar}">Kalendarz</a>
        <a th:href="@{/notes/list}">Lista notek</a>
    </div>
</div>

<div class="registerHeader">

    <p class="title">Rejestracja</p>

</div>

<div class="container">

    <div class="registerForm">

        <form method="POST" th:action="@{/register}" th:object="${user}">
            <div class="formInputs">
                <label for="username">Nazwa użytkownika</label>
                <input id="username" type="text" th:field="*{username}">
            </div>
            <div class="formInputs">
                <label for="password">Hasło</label>
                <input id="password" type="password" th:field="*{password}">
            </div>
            <div class="formInputs">
                <label for="email">Email</label>
                <input id="email" type="email" th:field="*{email}">
            </div>
            <input class="register" type="submit" value="Zarejestruj">
            <input class="reset" type="reset" value="Resetuj">
            <div style="clear: both"></div>
        </form>
        <a href="/login">Powrót do logowania</a>

    </div>

</div>

</body>
</html>
