body{
    margin: 0;
}
.header{
    width: 100%;
    background-color: cornflowerblue;
    color: white;
    padding: 10px;
}
.calendarHeader{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    background-color: darkgray;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 0 3px 1px rgba(0,0,0,0.7);
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.7);
}
.container{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 1180px;
    background-color: darkgray;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 0 3px 1px rgba(0,0,0,0.7);
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.7);
}
.calendar{
    margin-left: auto;
    margin-right: auto;
    width: 745px;
}
.dayName{
    padding: 5px;
    background-color: grey;
    float: left;
    width: 95px;
    height: 20px;
    text-align: center;
    margin: -1px 0 0 -1px;
}
.day{
    padding: 5px;
    background-color: grey;
    float: left;
    width: 93px;
    height: 93px;
    border: 1px solid black;
    margin: -1px 0 0 -1px;
    cursor: pointer;
    overflow: hidden;
    column-width: 93px;
}
.day:hover{
    background-color: #737373;
}
.note{
    margin: 5px;
    padding: 5px;
    background-color: lightblue;
    border-radius: 5px;
}
.noteHeader{
    font-weight: bold;
    padding: 5px;
    border-bottom: 1px solid lightcyan;
    position: relative;
}
.noteBody{
    padding: 5px;
}
.miniNote{
    margin: 5px;
    padding: 5px;
    background-color: lightblue;
    border-radius: 5px;
    max-width: 80px;
    max-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    break-inside: avoid;
}
.blankDay{
    padding: 5px;
    background-color: darkgrey;
    float: left;
    width: 95px;
    height: 95px;
    margin: -1px 0 0 -1px;
}
.next{
    position: fixed;
    top: 50%;
    right: 50px;
    color: grey;
}
.previous{
    position: fixed;
    top: 50%;
    left: 50px;
    color: grey;
}
h1{
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.year{
    font-size: 50px;
    text-align: center;
    margin: 0;
}
.month{
    font-size: 20px;
    text-align: center;
    margin: 0;
}
.modal{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
.modalContent{
    background-color: white;
    margin: 15% auto;
    width: 70%;
}
.modalHeader{
    padding: 5px 10px;
    background-color: cornflowerblue;
    color: white;
}
.modalBody{
    padding: 5px 10px;
}
.formInputs > label, .formInputs > input{
    display: block;
}
.formInputs{
    float: left;
    margin: 0 5px 5px 0;
}
.deleteButton{
    position: absolute;
    top: 0;
    right: 0;
    color: midnightblue;
}
.editButton{
    position: absolute;
    top: 0;
    right: 25px;
    color: midnightblue;
}
.backButton{
    margin-top: 5px;
}
.tooltip{
    visibility: hidden;
    position: absolute;
    bottom: 120%;
    right: -30px;
    background-color: grey;
    color: white;
    text-align: center;
    width: 80px;
    padding: 5px;
    border-radius: 5px;
}
.icon-cancel .tooltip::after{
    content: "";
    position: absolute;
    top: 100%;
    right: 40px;
    border-width: 5px;
    border-style: solid;
    border-color: grey transparent transparent transparent;
}
.icon-cancel:hover .tooltip{
    visibility: visible;
}
.icon-pencil .tooltip::after{
    content: "";
    position: absolute;
    top: 100%;
    right: 40px;
    border-width: 5px;
    border-style: solid;
    border-color: grey transparent transparent transparent;
}
.icon-pencil:hover .tooltip{
    visibility: visible;
}
.navBar{
    margin: 0 auto 10px auto;
    background-color: cornflowerblue;
    width: 100%;
    font-size: 0;
    border-top: 1px solid white;
    text-align: center;
}
.nav{
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
.navBar a{
    display: inline-block;
    padding: 5px 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.navBar a:hover{
    background-color: white;
    color: cornflowerblue;
}
.userBar{
    background-color: white;
    width: 100%;
    height: 25px;
    padding: 5px;
    position: relative;
}
.bar{
    position: absolute;
    right: 15px;
}
.bar form, .bar p{
    float: left;
}
.bar p{
    margin: 3px 5px 0 5px;
}
.bar span{
    display: block;
    margin: 3px 0 0 0;
    float: left;
}
.logout{
    text-decoration: none;
    color: white;
    background-color: firebrick;
    padding: 5px;
    border-radius: 5px;
    border: none;
}
.logout:hover{
    background-color: #d62929;
    cursor: pointer;
}