body{
    margin: 0;
}
.header{
    width: 100%;
    background-color: cornflowerblue;
    color: white;
    padding: 10px;
}
.loginHeader{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    background-color: darkgray;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 0 3px 1px rgba(0,0,0,0.7);
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.7);
}
.container{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 1180px;
    background-color: darkgray;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 0 3px 1px rgba(0,0,0,0.7);
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.7);
}
.formInputs{
    margin-bottom: 5px;
}
input, label{
    display: block;
}
h1{
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.title{
    font-size: 50px;
    text-align: center;
    margin: 0;
}
.loginForm{
    margin-left: auto;
    margin-right: auto;
    width: 210px;
}
form{
    margin-bottom: 5px;
}
form > input{
    margin-top: 5px;
}
.navBar{
    margin: 0 auto 10px auto;
    background-color: cornflowerblue;
    width: 100%;
    font-size: 0;
    border-top: 1px solid white;
    text-align: center;
}
.nav{
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
.navBar a{
    display: inline-block;
    padding: 5px 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.navBar a:hover{
    background-color: white;
    color: cornflowerblue;
}