body{
    margin: 0;
}
.header{
    width: 100%;
    background-color: cornflowerblue;
    color: white;
    padding: 10px;
}
.registerHeader{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    background-color: darkgray;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 0 3px 1px rgba(0,0,0,0.7);
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.7);
}
.container{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 1180px;
    background-color: darkgray;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 0 3px 1px rgba(0,0,0,0.7);
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.7);
}
.registerForm{
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 210px;
}
.formInputs{
    margin-bottom: 5px;
}
h1{
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.title{
    font-size: 50px;
    text-align: center;
    margin: 0;
}
input, label{
    display: block;
}
form > input{
    display: block;
    float: left;
    margin: 5px 5px 0 0;
}
form{
    margin-bottom: 5px;
}
.navBar{
    margin: 0 auto 10px auto;
    background-color: cornflowerblue;
    width: 100%;
    font-size: 0;
    border-top: 1px solid white;
    text-align: center;
}
.nav{
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
.navBar a{
    display: inline-block;
    padding: 5px 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.navBar a:hover{
    background-color: white;
    color: cornflowerblue;
}
.userBar{
    background-color: white;
    width: 100%;
    height: 25px;
    padding: 5px;
    position: relative;
}
.bar{
    position: absolute;
    right: 15px;
}
.bar form, .bar p{
    float: left;
}
.bar p{
    margin: 3px 5px 0 5px;
}
.bar span{
    display: block;
    margin: 3px 0 0 0;
    float: left;
}
.register{
    text-decoration: none;
    color: white;
    background-color: seagreen;
    padding: 5px;
    border-radius: 5px;
    border: none;
}
.register:hover{
    background-color: #39ac6b;
    cursor: pointer;
}
.reset{
    text-decoration: none;
    color: white;
    background-color: firebrick;
    padding: 5px;
    border-radius: 5px;
    border: none;
}
.reset:hover{
    background-color: #d62929;
    cursor: pointer;
}